.ItemBox1{
    max-height: 4rem;
  }
  
  .ItemBox2{
    max-height: 2rem;
  }
  
  .Sider div:first-child{
    font-size: 3rem
  }

@media screen and (max-width: 950px) {
  img{
    width: 20rem;
  }
}

