.Content {
    background-color: rgba(192, 202, 201, 0.178);
    margin-left: 28rem;
    margin-right: 28rem;
    margin-top: 4.4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1.6rem;
    font-size: 1.4rem;
}

.Content > div{
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 18rem;
}

@media screen and (max-width: 950px) {
    .Content{
        margin-top: 12rem;
        background-color: rgba(0, 0, 0, 0);
        margin-left: 0;
        margin-right: 0;
        font-size: 1.7rem;
    }
    .Content > div {
        margin-bottom: 30rem;
        font-size: 2.4rem;
    }


}